<div>
  <h2 id="page-heading" data-cy="CutiHeading">
    <span jhiTranslate="sistemKepegawaianApp.cuti.home.title">Cutis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="sistemKepegawaianApp.cuti.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cuti"
        [routerLink]="['/cuti/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="sistemKepegawaianApp.cuti.home.createLabel">Create a new Cuti</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (cutis().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="sistemKepegawaianApp.cuti.home.notFound">No Cutis found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="tanggalMulai">
              <div class="d-flex">
                <span jhiTranslate="sistemKepegawaianApp.cuti.tanggalMulai">Tanggal Mulai</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="tanggalSelesai">
              <div class="d-flex">
                <span jhiTranslate="sistemKepegawaianApp.cuti.tanggalSelesai">Tanggal Selesai</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="alasan">
              <div class="d-flex">
                <span jhiTranslate="sistemKepegawaianApp.cuti.alasan">Alasan</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="sistemKepegawaianApp.cuti.status">Status</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="pegawai.nama">
              <div class="d-flex">
                <span jhiTranslate="sistemKepegawaianApp.cuti.pegawai">Pegawai</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (cuti of cutis(); track trackId(cuti)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/cuti', cuti.id, 'view']">{{ cuti.id }}</a>
              </td>
              <td>{{ cuti.tanggalMulai | formatMediumDate }}</td>
              <td>{{ cuti.tanggalSelesai | formatMediumDate }}</td>
              <td>{{ cuti.alasan }}</td>
              <td>{{ cuti.status }}</td>
              <td>
                @if (cuti.pegawai) {
                  <div>
                    <a [routerLink]="['/pegawai', cuti.pegawai.id, 'view']">{{ cuti.pegawai.nama }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/cuti', cuti.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/cuti', cuti.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(cuti)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (cutis().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
