<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-absensi-heading" data-cy="AbsensiCreateUpdateHeading" jhiTranslate="sistemKepegawaianApp.absensi.home.createOrEditLabel">
        Create or edit a Absensi
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let tanggalRef = editForm.get('tanggal')!;
        <div class="mb-3">
          <label class="form-label" for="field_tanggal" jhiTranslate="sistemKepegawaianApp.absensi.tanggal">Tanggal</label>
          <div class="input-group">
            <input
              id="field_tanggal"
              data-cy="tanggal"
              type="text"
              class="form-control"
              name="tanggal"
              ngbDatepicker
              #tanggalDp="ngbDatepicker"
              formControlName="tanggal"
            />
            <button type="button" class="btn btn-secondary" (click)="tanggalDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
          @if (tanggalRef.invalid && (tanggalRef.dirty || tanggalRef.touched)) {
            <div>
              @if (editForm.get('tanggal')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let jamMasukRef = editForm.get('jamMasuk')!;
        <div class="mb-3">
          <label class="form-label" for="field_jamMasuk" jhiTranslate="sistemKepegawaianApp.absensi.jamMasuk">Jam Masuk</label>
          <div class="d-flex">
            <input
              id="field_jamMasuk"
              data-cy="jamMasuk"
              type="datetime-local"
              class="form-control"
              name="jamMasuk"
              formControlName="jamMasuk"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (jamMasukRef.invalid && (jamMasukRef.dirty || jamMasukRef.touched)) {
            <div>
              @if (editForm.get('jamMasuk')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('jamMasuk')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let jamKeluarRef = editForm.get('jamKeluar')!;
        <div class="mb-3">
          <label class="form-label" for="field_jamKeluar" jhiTranslate="sistemKepegawaianApp.absensi.jamKeluar">Jam Keluar</label>
          <div class="d-flex">
            <input
              id="field_jamKeluar"
              data-cy="jamKeluar"
              type="datetime-local"
              class="form-control"
              name="jamKeluar"
              formControlName="jamKeluar"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (jamKeluarRef.invalid && (jamKeluarRef.dirty || jamKeluarRef.touched)) {
            <div>
              @if (editForm.get('jamKeluar')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('jamKeluar')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="sistemKepegawaianApp.absensi.status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pegawai" jhiTranslate="sistemKepegawaianApp.absensi.pegawai">Pegawai</label>
          <select
            class="form-control"
            id="field_pegawai"
            data-cy="pegawai"
            name="pegawai"
            formControlName="pegawai"
            [compareWith]="comparePegawai"
          >
            @if (editForm.get(['pegawai'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (pegawaiOption of pegawaisSharedCollection(); track $index) {
              <option [ngValue]="pegawaiOption">{{ pegawaiOption.nama }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['pegawai'])!.invalid && (editForm.get(['pegawai'])!.dirty || editForm.get(['pegawai'])!.touched)) {
          <div>
            @if (editForm.get(['pegawai'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
