<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (penggajian(); as penggajianRef) {
      <div>
        <h2 data-cy="penggajianDetailsHeading"><span jhiTranslate="sistemKepegawaianApp.penggajian.detail.title">Penggajian</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ penggajianRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="sistemKepegawaianApp.penggajian.bulan">Bulan</span></dt>
          <dd>
            <span>{{ penggajianRef.bulan | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="sistemKepegawaianApp.penggajian.gajiPokok">Gaji Pokok</span></dt>
          <dd>
            <span>{{ penggajianRef.gajiPokok }}</span>
          </dd>
          <dt><span jhiTranslate="sistemKepegawaianApp.penggajian.bonus">Bonus</span></dt>
          <dd>
            <span>{{ penggajianRef.bonus }}</span>
          </dd>
          <dt><span jhiTranslate="sistemKepegawaianApp.penggajian.potongan">Potongan</span></dt>
          <dd>
            <span>{{ penggajianRef.potongan }}</span>
          </dd>
          <dt><span jhiTranslate="sistemKepegawaianApp.penggajian.totalGaji">Total Gaji</span></dt>
          <dd>
            <span>{{ penggajianRef.totalGaji }}</span>
          </dd>
          <dt><span jhiTranslate="sistemKepegawaianApp.penggajian.pegawai">Pegawai</span></dt>
          <dd>
            @if (penggajian()!.pegawai) {
              <div>
                <a [routerLink]="['/pegawai', penggajian()!.pegawai?.id, 'view']">{{ penggajianRef.pegawai?.nama }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/penggajian', penggajianRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
